@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color:#68028186;
    width: 50%;
    margin: auto;
    max-width: 50%;
      
}


header {
    background-color: #8304a386;
    padding: auto;
    color: #021120;
    font-size: 30px;
  
    
    
}

center{ background-color: #8304a386;

}


a {
    text-decoration: none;
    color: #021120;
}


nav {
    font-size: 30px;

}
nav a:hover{
    background-color: burlywood;

}

h1 {
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      color:  #e4b124;
      max-width: 50%;
      margin: auto;
      text-decoration: underline;
     
}

p1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight: weight;
    font-style: normal;
    font-weight:bold;
    color: #000000;
    text-align: center;

    }


img {max-width: 50%;

}
    
   